viola_jones/all_output/
other_output_is_in_afs/
templating/
data/*
data_original/*
Lasagne/
nolearn/
*.pyc
*.swp
.*.swp
.__*
old/
delete/
viola_jones/output*
viola_jones/data/
*.lprof
*.*.swn
*.*swo
viola_jones/old/
viola_jones/data/*
